<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   appData.plist
   GroceryInventoryApp

   Created by Catherine Kreamer on 4/30/18.
   Copyright (c) 2018 Camden Barkley. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
